.volunteers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #154356;
    font-family: Arial, sans-serif;
  }
  
  .volunteers-header {
    font-size: 2.5em;
    color: #5ab792;
    margin-bottom: 20px;
  }
  
  .volunteers-intro {
    font-size: 1.2em;
    color: #254a5e;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
  }
  
  .volunteers-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
  }
  
  .volunteers-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px; /* Espaço inferior */
    border: 1px solid #134b3e;
    border-radius: 5px;
    font-size: 1em;
    color: #154356;
    background-color: #f5f5f5;
  }
  
  .volunteers-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #5ab792;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .volunteers-button:hover {
    background-color: #66b58e;
  }
      