.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header-left {
    /* Placeholder para o logo */
  }
  
  .header-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .header-right li {
    font-size: 18px;
  }
  
  .header-right a {
    text-decoration: none;
    color: #154356;
  }
  
  .header-right a:hover {
    color: #5ab792; /* Cor ao passar o mouse, podemos mudar futuramente */
  }
  